@model DAL.DriverFactor

@{
    ViewData["Title"] = "حذف";
}


<h4>آیا شما از حذف این آیتم اطمینان دارید ؟</h4>
<div>
     <hr />
    <p>
        @Html.DisplayNameFor(model => model.From) : @Html.DisplayFor(model => model.From)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.To) : @Html.DisplayFor(model => model.To)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.SeassionCount) : @Html.DisplayFor(model => model.SeassionCount)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.TaxiCab) :   @Html.DisplayFor(model => model.TaxiCab.Id)
    </p> 
    <p>
        @Html.DisplayNameFor(model => model.ServiceRequset) :   @Html.DisplayFor(model => model.ServiceRequset.Id)
    </p> 
    <p>
        @Html.DisplayNameFor(model => model.Hs_Change) : @Html.DisplayFor(model => model.Hs_Change)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.IsDeleted) : @Html.DisplayFor(model => model.IsDeleted)
    </p>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-default">خیر لغو شود</a> 
        <input type="submit" value="بله اطمینان دارم این آیتم  حذف شود " class="btn btn-danger" /> 
    </form>
</div>
