@model DAL.DriverFactor

@{
   ViewData["ClassName"]=@Html.DisplayNameFor(c=>c.ClassName);
    ViewData["Title"] = $"جزییات {ViewData["ClassName"]} ";
}



  <div class="box box-primary">
    <div class="box-header">
<h3 class="box-header text-center">
   <span class="text-warning"> @ViewData["Title"]
    </span>
    </h3>
    <hr />
   </div>
    <div class="box-body">
    <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped text-center">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.From)

                </td>
                <td>
                    @Html.DisplayFor(model => model.From)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.To)

                </td>
                <td>
                    @Html.DisplayFor(model => model.To)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.SeassionCount)

                </td>
                <td>
                    @Html.DisplayFor(model => model.SeassionCount)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TaxiCab)

                </td>
                <td>
                    @Html.DisplayFor(model => model.TaxiCab.Id)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ServiceRequset)

                </td>
                <td>
                    @Html.DisplayFor(model => model.ServiceRequset.Id)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Hs_Change)

                </td>
                <td>
                    @Html.DisplayFor(model => model.Hs_Change)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IsDeleted)

                </td>
                <td>
                    @Html.DisplayFor(model => model.IsDeleted)

                </td>
            </tr>
            </tbody>
        </table>
            </div>
</div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
