@model DAL.Pricing

@{
    ViewData["Title"] = "حذف";
}


<h4>آیا شما از حذف این آیتم اطمینان دارید ؟</h4>
<div>
     <hr />
    <p>
        @Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.academy) :   @Html.DisplayFor(model => model.academy.Name)
    </p> 
    <p>
        @Html.DisplayNameFor(model => model.FormKilometer) : @Html.DisplayFor(model => model.FormKilometer)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.ToKilometer) : @Html.DisplayFor(model => model.ToKilometer)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.ConstPrice) : @Html.DisplayFor(model => model.ConstPrice)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.PricePerKilometer) : @Html.DisplayFor(model => model.PricePerKilometer)
    </p>
    <p>
        @Html.DisplayNameFor(model => model.Comission) : @Html.DisplayFor(model => model.Comission)
    </p>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-default">خیر لغو شود</a> 
        <input type="submit" value="بله اطمینان دارم این آیتم  حذف شود " class="btn btn-danger" /> 
    </form>
</div>
