@model DAL.Section

@{
    ViewData["Title"] = "حذف";
}


<h4>آیا شما از حذف این آیتم اطمینان دارید ؟</h4>
<div>
    <hr />
    <p>
        @Html.DisplayNameFor(model => model.weekday) : @Html.DisplayFor(model => model.weekday)
    </p>
    <p >
        <strong class="strong">
            شروع ::
        </strong>
         <span>  @Model.StartMiniute : @Model.StartHour</span>
    </p>
    <p >
        <strong>
            پایان ::
        </strong>
          <span>  @Model.EndMiniute : @Model.EndHour</span>
    </p>
    


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />


        <a asp-action="Index" class="btn btn-default" asp-route-CourseId="@Model.CoursId">خیر لغو شود</a>
        <input type="submit" value="بله اطمینان دارم این آیتم  حذف شود " class="btn btn-danger" />
    </form>
</div>
