@model DAL.Section

@{
   ViewData["ClassName"]=@Html.DisplayNameFor(c=>c.ClassName);
    ViewData["Title"] = $"جزییات {ViewData["ClassName"]} ";
}



  <div class="box box-primary">
    <div class="box-header">
<h3 class="box-header text-center">
   <span class="text-warning"> @ViewData["Title"]
    </span>
    </h3>
    <hr />
   </div>
    <div class="box-body">
    <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped text-center">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.weekday)

                </td>
                <td>
                    @Html.DisplayFor(model => model.weekday)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.StartHour)

                </td>
                <td>
                    @Html.DisplayFor(model => model.StartHour)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.StartMiniute)

                </td>
                <td>
                    @Html.DisplayFor(model => model.StartMiniute)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EndHour)

                </td>
                <td>
                    @Html.DisplayFor(model => model.EndHour)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.EndMiniute)

                </td>
                <td>
                    @Html.DisplayFor(model => model.EndMiniute)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Course)

                </td>
                <td>
                    @Html.DisplayFor(model => model.Course.Id)

                </td>
            </tr>
            </tbody>
        </table>
            </div>
</div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
