@model IEnumerable<DAL.Accounting>
@using DAL
@using DNTPersianUtils.Core

@{
    var def = ViewData["Count"] ?? "0";
    int count = int.Parse(def.ToString());
    ViewData["ClassName"] = @Html.DisplayNameFor(c => c.ClassName);
    ViewData["Title"] = $"لیست {ViewData["ClassName"]} ها";
}


<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-header text-center">
            <span class="btn btn-warning">
                @ViewData["Title"]
                <span class="badge bg-aqua">
                    @ViewData["Count"]
                </span>
            </span>
        </h3>
        <div class="col-lg-1">
            <a asp-action="AddAccounting" asp-route-id="@ViewBag.ServiceRequsetId" class="btn btn-microsoft "> ثبت ردیف جدید <i class="fa fa-plus"></i></a>
        </div>
        <hr />

    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped text-center">
                <thead>
                    <tr class="bg-black-gradient">
                        <th colspan="7">
                            <a asp-action="Details" asp-route-id="@ViewBag.ServiceRequsetId">
                                لیست پرداختی های  @ViewBag.FullName
                            </a>


                        </th>

                    </tr>

                </thead>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PayType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Payed)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.PayDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NextPay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrackNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.PayType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payed)
                            </td>
                            <td>
                                @item.PayDate.ToPersianDateTextify()
                            </td>
                            <td>
                                @item.NextPay.ToPersianDateTextify()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrackNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                            <td>
                                <a asp-action="EditAccounting" class="btn btn-sm btn-info" asp-route-id="@item.Id"> ویرایش </a>
                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot class="bg-red">
                    <tr>
                        <td>جمع کل</td>
                        <td> @(Model.Sum(c => c.Payed).ToString("N0")) </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <a asp-action="index" class="btn btn-sm btn-default"> بازگشت به لیست درخواست ها </a>


    </div>
</div>
