@model DAL.ServiceRequset

@{
    ViewData["ClassName"] = @Html.DisplayNameFor(c => c.ClassName);
    ViewData["Title"] = $"جزییات {ViewData["ClassName"]} ";
}



<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-header text-center">
            <span class="text-warning">
                @ViewData["Title"]
            </span>
        </h3>
        <hr />
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped text-center">
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.studentParent)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.studentParent.Id)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.FullName)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FullName)

                        </td>
                    </tr>
                   
                
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Age)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Age)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Address)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Note)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Note)

                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.RequsetState)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.RequsetState)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            مختصات

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.latitue),@Html.DisplayFor(model => model.Longtude)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            تاریخ درخواست

                        </td>
                        <td>
                            @ViewBag.date

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت به لیست</a>
</div>
